
/*  mediya quarry vstart  */

/*  hero css end  */
@media only screen and (max-width: 480px) {
 /*  header css start  */
.header{
    height: 120vh;
    width: 100%;
   }
   .header-wraper{
       display: grid;
       grid-template-columns: 1fr ; 
   }
 


  }
  /*  hero css end  */


  @media only screen and (max-width: 480px) {



    /*  about css start */
.about-section {
    background-color: #040303;
}
.about-wraper{
    display: grid;
    grid-template-columns:  1fr;
}
/*  about css end  */
  }

  /*  service  responsive css start  */

  @media only screen and (max-width: 480px) {

.service-wraper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

  }
  /*  service  responsive css end   */


  @media only screen and (max-width: 480px) {
    /* portfolio css start */
.portfolio-section{
    background-color: #161616;
}
.portfolio-header{
    text-align: center;
}
.portfolio-header h1{}
.portfolio-header span{
  color: aquamarine;
}
.portfolio-manu{
    text-align: center;
}
.portfolio-manu ul li{
    display: inline-block;
}
.portfolio-manu ul li a{
    margin: 2px;
    font-size: 10px;
    padding: 5px 10px ;
     text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    transition: .4s;
   background-color: aquamarine;
   border-radius: 5px;
   font-weight: 500
}
.portfolio-manu ul li a:hover{
    color: rgb(19, 18, 18);
}

.portfolio-wraper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* contact section start  */

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*  contact section end  */

/*  footer section start */

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  /*  footer  section end  */



/* portfolio css end  */
  }





